<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加员工信息</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<form th:action="@{/employee}" method="post">
    <table>
        <tr>
            <th>添加用户信息</th>
        </tr>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="empName" value="ysx"></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text" name="age" value="18"></td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                <input type="radio" name="sex" value="男">男
                <input type="radio" name="sex" value="女">女
            </td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input type="email" name="email"></td>
        </tr>
        <tr>
            <td> <input type="submit" value="添加"></td>
            <td> <a th:href="@{/employee}">返回</a></td>
        </tr>
    </table>
</form>
</body>
</html>